@page "/"

@*Welcome page*@
<h1>Welcome to Idle community</h1>

@* todo: add greeting text and yadayada *@
<p>Greeting text</p>

@*<SurveyPrompt Title="How is Blazor working for you?"/>*@

@* todo: delete *@
<p>Number is: @_number</p>
<button @onclick="()=>Increase(5)"> click to add 1 </button>

@code
{
    int _number = 0;

    private void Increase(int increaseAmount)
    {
        _number += increaseAmount;
    }
}
